# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.certora_internal
.vscode
.certora_recent_jobs.json
.zip-output-url.txt